.currentGuess {
  flex: 1 1;
  padding: 1em;
  box-sizing: border-box;
}

.roundsNote {
  display: inline-block;
  margin: 2em;
  font-size: larger;
}

.inputDisplayContainer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.inputContainer {
  position: absolute;
  display: inline-flex;
  height: 100%;
  width: 100%;
}

.numbersDisplay {
  height: 4em;
  width: 4em;
  padding: 1em;
  margin: 0.5em;
  border: 1px black solid;
  background-color: darkgray;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}


.numbersDisplay.filled {
  background-color: black;
  color: white;
}

.numbersDisplay.focused {
  background-color: white;
  color: black;
}