.buttons {
  transition: all 0.3s ease;
  cursor: pointer;
  color: red;
  box-shadow: 2px 2px 2px 1px rgba(255, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid red;
  display: inline-block;
}

.close {
  float: right;
  font: larger;
  background-color: white;
}

.end, .start {
  margin: 3em;
}
