.buttons {
  transition: all 0.3s ease;
  cursor: pointer;
  color: red;
  box-shadow: 2px 2px 2px 1px rgba(255, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid red;
  display: inline-block;
  transition: 0.2s all ease;
}

.close {
  float: right;
  font: larger;
  background-color: white;
}

.end, .start {
  margin: 3em;
}

.audio {
  animation: audioBlink 1s linear;
  animation-iteration-count: 3;
  display: flex;
}

@keyframes audioBlink {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.speaker {
  height: 1em;
  width: 1em;
  margin-left: 0.25em;
  align-items: middle;
}

.audio, .clear {
  margin: 0.3em 0;
}
