.gameHistory {
  flex: 1 1;
  padding: 1em;
  box-sizing: border-box;
}

.roundContainer {
  font-size: 1.25em;
  padding: 0.25em 1em;
  margin: 0.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.guess {
  display: inline-block;
}

.guessContainer {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 50%;
  font-weight: bolder;
  height: 2em;
  width: 2em;
}

.correct {
  border: 1px solid green;
  background-color: rgb(210, 235, 210);
}

.partiallyCorrect {
  border: 1px solid orange;
  background-color: rgb(252, 217, 203);
}

.incorrect {
  border: 1px solid red;
  background-color: rgb(253, 192, 201);
}