.gameHistory {
  font-size: 2vw;
  flex: 1 1;
  padding: 1em;
  box-sizing: border-box;
}

.header {
  padding: 2.5% 0 2.5% 0;
  margin-bottom: 5%;
  border: 1px lightseagreen solid;
  border-radius: 10px;
}

.roundContainer {
  font-size: 1.25vw;
  padding: 0.5vw;
  margin: 2.5%;
  box-sizing: border-box;
}

.guess {
  display: inline-block;
}

.guessContainer {
  display: inline-block;
  padding: 0.5em;
  margin: 0.25vw;
  border: 1px solid black;
  border-radius: 50%;
  font-weight: bolder;
}

.correct {
  border: 1px solid green;
  background-color: rgb(210, 235, 210);
}

.partiallyCorrect {
  border: 1px solid orange;
  background-color: rgb(252, 217, 203);
}

.incorrect {
  border: 1px solid red;
  background-color: rgb(253, 192, 201);
}