.header {
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px rgba(231, 244, 252, 0.5);
  flex: 1 0 5%;
  display: flex;
  justify-content: center;
  font-size: 2vw;
}

.image-container {
  max-height: 80px;
  max-width: 80px;
}

.image-container > img {
  height: 100%;
  width: 100%;
}

.entry-header {
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: none;
  font-size: larger;
}

.main-header {
  border: 1px solid darkgray;
  border-radius: 10px;
  font-size: 3em;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  font-weight: bolder;
}

.sub-header {
  border: 1px lightseagreen solid;
  border-radius: 10px;
  padding: 0.75vh;
}